<div class="container-fluid HSlightblue">
    <div class="container text-center">
        <footer class="py-3">
            <img src="../../assets/hotspringlogo.jpg" alt="logo for hotspring site" class="rounded img-fluid">
            
            <ul class="navbar-nav HSneongreentxt HSdarkblue rounded mt-4">
                <li class="">
                  <a routerLink="/" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link" >Home</a>
                </li>
                <li class="">
                  <a routerLink="/springs" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link">Springs</a>
                </li>
                <li class="">
                  <a routerLink="/locations" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link">Locations</a>
                </li>
                
                <li class="">
                  <a routerLink="/facts" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link">Facts</a>
                </li>
                
                <li class="">
                  <a routerLink="/about" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link">About</a>
                </li>
              </ul>
            <hr/>
            <p><small>&copy;{{year}} Hot Springs, Made by Jake Miller</small></p>
            <hr/>
        </footer>
    </div>
</div>