<div class="text-center HSlightblue"><h2>Error 404: Page Not Found, sorry about that!</h2>

<ul class="navbar-nav">
    <li class="">
      <a routerLink="/" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link" >Home</a>
    </li>
    <li class="">
      <a routerLink="/springs" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link">Springs</a>
    </li>
    <li class="">
      <a routerLink="/locations" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link">Locations</a>
    </li>
    
    <li class="">
      <a routerLink="/facts" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link">Facts</a>
    </li>
    
    <li class="">
      <a routerLink="/about" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link">About</a>
    </li>
  </ul>
</div>