<div class="aboutfade container-fluid py-5 text-center">
    <div class="container py-5">
        <h2>About Hot Springs</h2>
    </div>
    <div class="container px-3 text-left fadedblue rounded">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dolorum sit deserunt magni totam natus quas placeat quibusdam unde vero illo veritatis assumenda, recusandae praesentium, provident corrupti illum sed pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati natus porro ipsa, ex sunt asperiores illum dolore similique nostrum ut nemo reprehenderit impedit eveniet esse eius. Error, adipisci. At, nostrum.
    </div>
</div>