<div class="stairblur container-fluid">
    <div class="container py-5 faded text-center HSwhitebluetxt">
        <h2>Exotic Locations</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card fadedblue">
                <h5 class="card-title">Skorland, Europe</h5>
                <div class="card-body">                  
                <img src="../../assets/skorland.jpg" alt="mountains, water, and small village" class="card-img-bottom rounded">
                <br/><a class="HSneongreentxt" href="https://www.vecteezy.com/free-photos"><small>Free Stock photos by Vecteezy</small></a>                
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minus quam sequi nobis ullam, culpa ut quos quaerat magnam in suscipit? Mollitia qui quam, autem possimus labore vero ratione adipisci!</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card fadedblue">
                <h5 class="card-title">Laan Saka, Thailand</h5>
                <div class="card-body">                  
                <img src="../../assets/laansakathailand.jpg" alt="green mountians behind a straight on picture of a flowing river" class="card-img-bottom rounded">
                <br/><a class="HSneongreentxt" href="https://www.vecteezy.com/free-photos"><small>Free Stock photos by Vecteezy</small></a>                
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minus quam sequi nobis ullam, culpa ut quos quaerat magnam in suscipit? Mollitia qui quam, autem possimus labore vero ratione adipisci!</p>
                </div>
              </div>
            </div>
            
            <div class="col">
                <div class="card fadedblue">
                  <h5 class="card-title">Carpathian, Ukraine</h5>
                  <div class="card-body">                  
                  <img src="../../assets/carpathian.jpg" alt="snowy mountains and forest with pine trees" class="card-img-bottom rounded">
                  <br/><a class="HSneongreentxt" href="https://www.vecteezy.com/free-photos"><small>Free Stock photos by Vecteezy</small></a>                
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minus quam sequi nobis ullam, culpa ut quos quaerat magnam in suscipit? Mollitia qui quam, autem possimus labore vero ratione adipisci!</p>
                  </div>
                </div>
              </div>
          </div>
</div>
