<div class="blurredforest container-fluid">
    <div class="container text-center fadedgray HSlightbluetxt pt-2">
            <h2>
                Your source for premium Hot Spring information
            </h2>  
            <div class="row pb-5 HSneongreentxt">
                <div class="col-12 col-sm-6 my-1">
                    
                    <a routerLink="/springs" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link HSneongreentxt">
                        <h3>Luxurious Springs</h3>
                        <img src="../../assets/thailand1.jpg" alt="Hot spring with colorful rocks and green trees and sunrise" class="img-fluid rounded">
                    </a> 
                    <br/><a class="HSneongreentxt" href="https://www.vecteezy.com/free-photos"><small>Free Stock photos by Vecteezy</small></a>
                </div>
                <div class="col-12 col-sm-6 my-1">
                    <a routerLink="/locations" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link HSneongreentxt">
                        <h3>Exotic Locations</h3> 
                        <img src="../../assets/stairs.jpg" alt="stairs surrounded by greenery" class="img-fluid rounded">                
                    </a>    
                    <br/><a class="HSneongreentxt" href="https://www.vecteezy.com/free-photos"><small>Free Stock photos by Vecteezy</small></a>
                </div>
                
                <div class="col-12 col-sm-6 my-1">
                    <a routerLink="/facts" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link HSneongreentxt">
                        <h3>Fun Facts</h3> 
                        <img src="../../assets/bluegreen.jpg" alt="volcanic sulfuric blue green water with orange and yellow ground" class="img-fluid rounded">                
                    </a>    
                    <br/><a class="HSneongreentxt" href="https://www.vecteezy.com/free-photos"><small>Free Stock photos by Vecteezy</small></a>
                </div>
                
                <div class="col-12 col-sm-6 my-1">
                    <a routerLink="/about" routerLInkActive="active" ariaCurrentWhenActive="page" class="nav-link HSneongreentxt">
                        <h3>About Us</h3> 
                        <img src="../../assets/thailandsunrise.jpg" alt="Hot spring golden aglow with sunrise" class="img-fluid rounded">                
                    </a>    
                    <br/><a class="HSneongreentxt" href="https://www.vecteezy.com/free-photos"><small>Free Stock photos by Vecteezy</small></a>
                </div>
            </div> 
    </div>
</div>