.bluegreenfade {    
    background-image: url("../../assets/bluegreenfade.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:scroll ;
}

.faded {    
    background-color: #00735c8d;
}
.fadedblue {
    background-color: #08313a7e;
}